/build/
/CMakeFiles/
/bootloader-prefix/
/esp-idf/
/config/
/CMakeCache.txt
/build.ninja
/cmake_install.cmake
/compile_commands.json
/project_description.json
/flasher_args.json
/config.env
/app-flash_args
/bootloader-flash_args
/flash_app_args
/flash_args
/flash_args.in
/flash_bootloader_args
/flash_project_args
/otadata-flash_args
/partition-table-flash_args
/ldgen_libraries
/ldgen_libraries.in
/kconfigs.in
/kconfigs_projbuild.in
/sdkconfig.old
